.noscript {
  font-size: 26px;
  text-align: center;
  display: inline-block;
  color: #eb807a;
  width: 100%;
  position: fixed;
  z-index: 100;
  margin-top: 450px;
  background-color: #f5f5f5;
}

.noscript > a {
  color: #e55952;
  text-decoration: underline;
}

.noshow {
  display: none;
}

.preload * {
  transition: none !important;
}

.mail:after {
  content: attr(data-user) "@" attr(data-domain); 
}

.mail:hover {
  cursor: pointer;
}

.center-element {
  width: 100%; 
  text-align: center; 
  margin: 25px 0;
}

.button {
  width: 200px;
  box-sizing: border-box;
  font-size: 0.7em;
  transition: background-color .1s,
              box-shadow .1s,
              color .1s,
              transform .1s;
  background-color: #092749;
  border-radius: 2px;
  border: 2px solid #092749;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  padding: 5px 20px;
  text-decoration: none !important;
  outline: none;
}

.button:hover,
.button:focus {
  transform: translate(-2px,-2px);
  background-color: #fff;
  box-shadow: 4px 4px 0 0 #092749;
  color: #092749;
}

html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  color: rgba(20, 20, 20, 0.85);
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  overflow-y: scroll;
}

h3 {
  line-height: 0.5;
  margin-bottom: 20px
}

/* ------------------------------------------------------------ start page */

.start {
  height: 92vh;
  background-color: rgba(0, 0, 0, 0.7);
  outline: none;
}

.site-wrapper-inner {
  height: 100%;
  vertical-align: middle;
}

.cover-container {
  background-color: rgba(0, 0, 0, 0.3);
}

.cover-picture {
  height: 100vh;
  width: 100%;
  background: url(../images/cover.jpg) no-repeat center center fixed;
  background-size: cover;
  position: fixed;
  z-index: -1;
}

.headline {
  font-family: 'Audiowide', "Courier New";
  color: #fafafa;
  text-shadow: 2px 2px 14px #444444;
  text-align: center;
  font-size: 110px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.1;
  text-decoration: none;    
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.headline2 {
  font-size: 24px;
}

/* ------------------------------------------------------------ wrapper etc. */

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.site-wrapper-inner {
  display: table-cell;
}

.cover-heading {
  margin-bottom: 15px;
}

.cover-subheading {
  margin-top: 25px;
  color: rgba(96, 96, 97, 0.9);
  font-style: italic;
  text-align: center;
}

.tab {
  background-color: #f5f5f5;
  height: 95vh;
  width: 100%;
  padding: 0vh 15px 0;
  overflow: hidden;
  font-size: 3vmin;
  margin-right: auto;
  margin-left: auto;    
  margin-bottom: 20.5vh;
  box-shadow: 0 0 6px 4px rgba(0,0,0,0.3);  
  outline: none;
}

.oversize {
  min-height: 95vh;
  height: auto; 
  overflow: visible; 
  display: inline-block;
}

.contactlink {
  color: inherit;
}

.link,
.link:focus {
  text-decoration: none;
  border-bottom: 1px solid #184c85;
  color: #184c85;
}

.link:hover {
  text-decoration: none;
  border-bottom: none;
  color: #171e26;
  cursor: pointer;
}

.quote {
  color: rgba(96, 96, 97, 0.9);
  padding: 5px 0 0 35px; 
  font-style: italic;

}

.dropshadow:hover {
  cursor: pointer;
  box-shadow: 1px 1px 4px 2px #CCCCCC;
}

.news-img {
  float: left; 
  height: 26%;
}

.news-item {
  height: 26%; 
  overflow-y: hidden;
  margin-bottom: 1.3%; 
  padding: 10px; 
  padding-top: 5px;
  border: 1px solid #aaa;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  /*border: 1px solid black;*/
}

/* Fix for Edge */
@supports (-ms-ime-align:auto) { .flex-container { justify-content: space-around; } }

.flex-item {
  margin-bottom: 35px;
  overflow: hidden;
  /*border: 1px solid #aaa;*/
}

.flex-item > a > img {
  max-height: 100%;
  filter: grayscale(100%);
  opacity: 0.55;
  z-index: 0;
  transition: filter 0.15s ease-in-out, opacity 0.15s ease-in-out; 
}

.flex-item > a > img:hover {
  filter: none;
  opacity: 1;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* ------------------------------------------------------------ header */

.icon {
  padding-right: 30px;
}

.icon:first-of-type {
  padding-right: 50px;
}

.icon > img {
  position: absolute;
  width: 32px;
  transition: all 0.1s ease-in-out;
  top: 50%;
  transform: translate(0, -50%);
}

.icon > img:nth-child(2) {
  opacity: 0;
}

.icon:hover > img:nth-child(2),
.icon:focus > img:nth-child(2) {
  opacity: 1;
}

.iconshadow:hover > img:first-of-type,
.iconshadow:focus > img:first-of-type {
  box-shadow: 0 0 2px 0 #BBBBBB;
}

.back {
  display: none;
  margin-left: -60px;
}

.back.active {
  display: inline-block;
}

.masthead {
  width: 100%; 
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 20px;
  border-bottom: 2px solid black;
  border-bottom-color: #adadad;
  z-index: 1;
}

.masthead.active {
  background-color: #092749;
  position: fixed;
}

.masthead-nav > li {
  display: inline-block;
  margin-bottom: -2px;
}

.masthead-nav > li + li {
  margin-left: 25px;
}

.masthead-nav > li > a {
  padding: 10px 0;
  font-size: 22px;
  font-weight: 700;
  color: rgba(255,255,255,.6);
  text-shadow: 1px 1px 1px rgba(0,0,0,.9);
  transition: color 0.15s linear;
  outline: none;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  color: rgba(255,255,255,1);  
}

.masthead-nav > li:after {
  display:block;
  content: '';
  border-bottom: solid 2px #fff;  
  transform: scaleX(0);  
  transform-origin: 100% 50%;
  transition: transform 250ms ease-in-out;
}

.masthead-nav > li:hover:after,
.masthead-nav > .active:after,
.masthead-nav > .clicked:after {
  transform: scaleX(1);
  transform-origin:   0% 50%;
}

.masthead-nav > .active:after, 
.masthead-nav > .clicked:after {
  transition: none;
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:focus {
  color: rgba(255, 255, 255, 0.9);
}

/* ------------------------------------------------------------ footer */

.mastfoot {
  font-size: 1.464vh;
  text-align: center;
  color: rgba(255,255,255,.6); 
  font-weight: 700;
  background-color: #092749;
  margin-bottom: -70px;
  border-top: 1px solid;
  border-top-color: #adadad;
  padding: 6px;
  transition: all 0.15s ease-in-out;
  z-index: 9;
}

.mastfoot > a {
  color: inherit; 
}

.mastfoot > a:focus {
  text-decoration: none;
}

.mastfoot > a:hover {  
  color: rgba(255,255,255,.9); 
}

.mastfoot.active {
  margin-bottom: 0;
}

.mastfoot.active2 {
  bottom: 30px;
}

.social {
  outline: 0;
}