:root
    --color-primary rgb(25, 25, 25)
    --color-primary-hover rgba(25, 25, 25, 0.9)
    --color-link #184C85
    --color-link-hover #171E26
    --color-light-gray rgba(100, 100, 100, 0.65)
    // --color-background #F5F5F5
    --color-background #fff
    --color-boxshadow rgba(8, 12, 17, 0.31)
    --color-border #eaeaea