.mastfoot
    font-size 1.35vh
    text-align center
    color rgba(255,255,255,.6) 
    background-color var(--color-primary)
    margin-bottom -70px
    border-top 1px solid
    border-top-color #adadad
    padding 6px
    transition all 0.15s ease-in-out
    z-index 9

    a
        color inherit

        &:focus
            text-decoration none

        &:hover
            color rgba(255,255,255,.9)

    &:global(.active)
        margin-bottom 0

.social
    outline 0

    img
        width 20px

.desktop-only
    display none

@media (min-width: 768px)
    .desktop-only
        display inline

    .mastfoot
        position fixed
        bottom 0
        width 100%

@media screen and (max-device-width: 850px)
    .mastfoot
        font-size 1.2vh
