.mastfoot
    font-size 1.35vmin
    text-align center
    color rgba(255,255,255,.6)
    background-color var(--color-primary)
    margin-bottom -70px
    border-top 1px solid
    border-top-color #adadad
    padding 6px
    transition all .35s cubic-bezier(.33, .59, .14, 1)
    z-index 10

    a
        color inherit

        &:focus
            text-decoration none

        &:hover
            color rgba(255,255,255,.9)

    &:global(.active)
        margin-bottom 0

    .social
        outline 0

        svg
            width 20px
            height auto
            vertical-align middle
            fill rgba(255,255,255,0.6)
            padding 2px
            background-color rgba(255, 255, 255, 0.1)
            border-radius 2px

            &:hover
                fill rgba(255,255,255,0.8)
                background-color rgba(255, 255, 255, 0.15)

.desktop-only
    display none

@media (min-width: 768px)
    .desktop-only
        display inline

    .mastfoot
        position fixed
        bottom 0
        width 100%

@media (max-width: 850px)
    .mastfoot
        font-size 1.2vh

        .social svg
            width 16px
            height auto
