@require 'colors.styl'
@require 'sizes.styl'
@require 'fonts.styl'

html
body
    height 100%
    font-family 'Jost', sans-serif
    font-weight 300

.win
    font-family 'Twemoji Country Flags', 'Jost', sans-serif

html
    font-size 10px
    -webkit-tap-highlight-color rgba(0, 0, 0, 0)
    scroll-padding-top 45px

body
    margin 0
    color rgba(20, 20, 20, 0.85)
    overflow-y scroll
    font-size 14px
    line-height 1.42857143
    color #000
    background-color #fff

*
    box-sizing border-box

a
    background-color transparent
    text-decoration none

a:active
a:hover
    outline 0

a:focus
a:hover
    text-decoration underline

b
    font-weight 400

h1
h2
    font-family inherit
    font-weight 400
    line-height 1.1
    color inherit
    margin-top 20px
    margin-bottom 10px

h1
    font-size 4vmin

h2
    font-size 3vmin

p
    margin 0 0 15px

img
    border 0
    vertical-align top

ul
    margin 0 0 10px


hr
    border none
    height 1px
    background-color var(--color-primary)
    border-radius 1px

.nav
    padding-left 0
    margin-bottom 0

.nav > li > a
    display block

.nav > li > a:focus
.nav > li > a:hover
    text-decoration none

.nav:after
.nav:before
    display table
    content " "

.nav:after
    clear both

@-ms-viewport
    width device-width

.noscript
    font-size 26px
    text-align center
    display inline-block
    color #eb807a
    width 100%
    position fixed
    z-index 100
    margin-top 450px
    background-color #f5f5f5

    
.noscript > a
    color #e55952
    text-decoration underline

.preload
    *
    :before
    :after
        transition none !important

.mail:after
    content attr(data-user) "@futuresymphony.lt"

.mail:hover
    cursor pointer

.cover-heading
    margin-bottom 15px
    font-size 4vmin

.cover-subheading
    margin-top 25px
    color rgba(70, 70, 70, .8)
    font-size 3vmin

.link
.link:focus
    text-decoration underline
    color var(--color-link)
    transition all 0.1s ease

    &.disabled
        color #6d6d6d
        cursor initial

.link:not(.disabled):hover
    color var(--color-link-hover)
    text-decoration-color transparent
    cursor pointer

.highlight
    transition all 0.2s ease
    border-radius 3px

dialog
    position fixed
    z-index 5
    top 50%
    transform translateY(-50%)
    border-radius var(--border-radius)
    overflow-y auto
    max-height 85vh
    max-width 75vw

    &.message
        white-space pre-wrap

    p
        overflow-wrap break-word

@media (max-width: 600px)
    .cover-heading
        margin-bottom 10px
        font-size 6vmin

    .cover-subheading
        font-size 4vmin


@media (max-width 525px)
    dialog
        max-width 90vw
        top 55%

@media print
    *
    :after
    :before
        color #000 !important
        text-shadow none !important
        background 0 0 !important
        box-shadow none !important

    a
    a:visited
        text-decoration underline

    a[href]:after
        content " (" attr(href) ")"

    img
        page-break-inside avoid
        max-width 100% !important

    h2
    p
        orphans 3
        widows 3

    h2
        page-break-after avoid