.date
    color: rgba(100, 100, 100, 0.5)
    line-height 2.5



@media screen and (max-device-width: 600px)
    /* TODO !! */
    .news-img-small
        height 17%

    .news-img
        height 350px
        float none
