div
    display flex
    flex-direction column

label
    font-size 14px
    line-height 24px
    white-space nowrap

input
select
textarea
    height 40px
    width 100%
    font-family inherit
    text-overflow ellipsis
    background-color #fff
    border solid 1px var(--color-border)
    border-radius var(--border-radius)
    font-size 16px
    padding 0 10px

    &:disabled
        background-color var(--color-background)